---
import Top_logos from '../components/Top_logos.astro'
---
<logoslot class="px-4 pt-4 pb-1">
<Top_logos>
<a href="http://iitb.ac.in/" target="_blank">
    <img src="https://iitb-fossee-mapathon.fossee.in/static/cms/uploads/images/iitb-logo.png" class="w-full max-w-xs mx-auto logos" alt="IITB">
</a>
<a href="https://fossee.in" target="_blank">
    <img src="https://iitb-fossee-mapathon.fossee.in/static/cms/uploads/images/fossee-logo.png" class="w-full max-w-xs mx-auto logos" alt="FOSSEE">
</a>
<!-- <a href="http://www.rudra.iitb.ac.in/" target="_blank">
    <img src="https://iitb-fossee-mapathon.fossee.in/static/cms/uploads/images/rudra-logo.png" class="w-full max-w-xs mx-auto logos" alt="Rudra">
</a>
<a href="https://www.iittp.ac.in/" target="_blank">
    <img src="https://iitb-fossee-mapathon.fossee.in/static/cms/uploads/images/iit-tirupati.png" class="w-full max-w-xs mx-auto logos" alt="IIT Tirupati">
</a>
<a href="https://iittnif.com/" target="_blank">
    <img src="https://iitb-fossee-mapathon.fossee.in/static/cms/uploads/images/navavishkaar.png" class="w-full max-w-xs mx-auto logos" alt="IITTNiF">
</a>
<a href="https://nmicps.in/" target="_blank">
    <img src="https://iot-gis-hackathon.fossee.org/static/cms/uploads/images/NM-ICPS-logo1.png" class="w-full max-w-xs mx-auto logos" alt="NMICPS">
</a> -->

</Top_logos>
</logoslot>
<style>
/************top logos*****************/

.logos {
  max-width: 100%;
  height: 53.8px;
  padding-left: 20px;
}
@media(max-width:998px){
  .logos {
    max-width: 100%;
    height: auto;
    padding-left: 0;
  }
}

</style>