---


---


<div class="banner-content">
   <div id="top-logo-placeholder" class="container rounded min-w-sm mx-auto px-5 bg-white">
       <div class="flex px-3 mx-3 justify-center"> 
      
              <slot />
          
       </div>
   </div>
</div>
